@model IEnumerable<Loja.Models.Desconto>


@{
    ViewData["Title"] = "Index";
}

<h1>Desconto</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"> <i class="bi bi-person-plus"></i>Novo Desconto</a>
</p>

<form asp-controller="Descontos" asp-action="Index">
    <p>
        Banco: <input type="text" name="searchString" />
        <input type="submit" value="Filtrar" />
    </p>


</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprovado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorDesconto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprovado)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DescontoId" class="btn btn-sm btn-info"> <i class="bi bi-journal-text"></i>Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.DescontoId" class="btn btn-sm btn-primary"> <i class="bi bi-pencil"></i>Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.DescontoId" class="btn btn-sm btn-danger"> <i class="bi bi-trash3"></i>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
