@model IEnumerable<Loja.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success"> <i class="bi bi-person-plus"></i>Nova Venda</a>
</p>

<form asp-controller="Vendas" asp-action="Index" method="get">

    <label>Data Inicial</label>
    <input type="date" name="startDate" class="form-control" />


    <label>Data Final</label>
    <input type="date" name="endDate" class="form-control" />


    <input type="submit" value="filtrar" class="btn btn-sm btn-primary" />


</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAVista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcelas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorJuros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BancoFinanciamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComissaoVendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrega)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Carro.CarroId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAVista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parcelas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorJuros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BancoFinanciamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComissaoVendedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrega)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VendaId" class="btn btn-sm btn-info"> <i class="bi bi-journal-text"></i>Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VendaId" class="btn btn-sm btn-primary"> <i class="bi bi-pencil"></i>Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.VendaId" class="btn btn-sm btn-danger"> <i class="bi bi-trash3"></i>Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
